<title> About </title>

<body>
  <%= erb :Menu %>
  <center>
    <div class="ImageBoxMainDesc" id="ImageBox">
      <div id="MainImage" class="ImageMainDesc" display="inline">
        <img border="0" id="ImageMainDesc" src="/images/Me.jpg" alt="Cover Pic">
      </div>
      <div id="ImageDesc" class="ImageDesc" display="inline">
          <p id="Desc" class="DescFull">
            Ohiogozaimazu! I am a software engineer from Bangalore, India. My
            day job involves me looking at a computer screen through the day,
            so I like to spend my free time doodling and folding paper!
          </p>
          <p class="DescFull">
            I completed my undergraduate studies from National Institute of
            Technology, Surathkal in Electronics and Communication Engineering.
            Apart from my increased focus on signal processing here, I took
            part in various art and design events an organised a whole bunch
            of them as well. Right from Tattos on the beach to heading a design
            team for a theatre production - I tried them all in these 4 years
          </p>
          <p class="DescFull">
            I have been doing art since I was 3 when I saw colurs mixing in
            the candlelight. Since then, I have tried and learnt multiple media
            and methods such as pencil sketching, pastels, water painting,
            charcoal painting, origami and stencil cutting amongst others.
          </p>
          <p class="DescFull">
            I hope you enjoyed having a look at it. If you have any comments
            or questions, drop me a mail at mmg9291@gmail.com</a>. You can also
            find my work on my facebook page - <a href="https://www.facebook.com/Renzuru" class="Desc">Renzuru</a>
          </p>
      </div>
  </div>
  <center>
  <script>
  getScrollHeight()
  </script>
  <%= erb :Footer %>
</body>
