<head>
	<link rel="stylesheet" href="foottheme.css" > 
</head>

<center>
<hr width="70%" align="center">
<div>
	<div class="FootBar1">
		<a class="FootBox" >
			<div id="Footer" class="FootBox">&nbsp;&nbsp;&#169; 2014 Mathura M Govindarajan &nbsp;&nbsp;| <a href="/About" class="FootBox"> &nbsp;&nbsp;Get in touch&nbsp;&nbsp;</a></div>
		</a>  
	</div>
</div>

</center>