<html>

	<head>
		<link rel="stylesheet" href="pagetheme.css" > 
	</head>

	<body>
		<center>
			<div class="MenuBar">
					<a class="MenuName">
						<div id="Renzuru" class="Box">Renzuru</div>
					</a>
			</div>
			<div class="MenuBar1">
					<a class="MenuBox" href="/">
						<div id="Home" class="Box">Home</div>
					</a>
					<a class="MenuBox" href="/">
						<div id="Charcoal" class="Box">Charcoal</div>
					</a>
					<a class="MenuBox" href="/">
						<div id="Pencil" class="Box">Pencil</div>
					</a>
					<a class="MenuBox" href="/">
						<div id="Pastels" class="Box">Pastels</div>
					</a>
					<a class="MenuBox" href="/">
						<div id="Pen" class="Box">Pen</div>
					</a>
					<a class="MenuBox" href="/">
						<div id="Other" class="Box">Other</div>
					</a>
					<a class="MenuBox" href="/">
						<div id="About" class="Box">About</div>
					</a>
			</div>
		</center>
	</body>

	<!--
	<body>
		<table align="center">
			<tr>
				<td><h1>Charcoal</h1></td>
				<td align="center"><a href = "/"> Home </a></td>
				<td align="center"><a href = "/Charcoal"> Charcoal </a></td>
				<td align="center"><a href = "/Pencil"> Pencil </a></td>
				<td align="center"><a href = "/Pastels"> Pastels </a></td>
				<td align="center"><a href = "/Pen"> Pen </a></td>
				<td align="center"><a href = "/Other"> Other </a></td>
				<td align="center"><a href = "/AboutMe"> About </a></td>
			</tr>
		</table>
	-->
	</div>
	
	</body>

</html>