<title> About </title>

<body>
  <%= erb :Menu %>
  <center>
    <div class="ImageBoxMainDesc" id="ImageBox">
      <div id="MainImage" class="ImageMainDesc" display="inline">
        <img border="0" id="ImageMain" src="/images/renzuru.jpg" alt="Cover Pic">
      </div>
      <div id="ImageDesc" class="ImageDesc" display="inline">
          <p id="Desc" class="DescFull">
            Renzuru, literally translated, means "consecutive cranes". It is
            a form of origami that deals with constructing multiple cranes from
            a single sheet of paper.
            This page contains most of my art work through the past few
            years. Be sure to check out the different media of my work.
          </p>
          <p class="DescFull">
            You can also find my work on <a href="https://www.facebook.com/Renzuru" class="Desc">Facebook</a>
          </p>
      </div>
  </div>
  <center>
  <script>
  getScrollHeight()
  </script>
  <%= erb :Footer %>
</body>
