<title> About </title>

<body>
  <%= erb :Menu %>
  <center>
    <div class="ImageBoxMainDesc" id="ImageBox">
      <div id="MainImage" class="ImageMainDesc" display="inline">
        <img border="0" id="ImageMain" src="/images/Renzuru.jpg" alt="Cover Pic">
      </div>
      <div id="ImageDesc" class="ImageDesc" display="inline">
          <p id="Desc" class="DescFull">&nbsp;&nbsp; The word Renzuru literally means "consecutive cranes"....
          <br>&nbsp;&nbsp; This page contains most of my art work through the past few years. Do check out the different media types... <br>&nbsp;&nbsp;You can also find my work on my facebook page - <a href="https://www.facebook.com/Renzuru" class="Desc"> Renzuru </a> </p>
      </div>
  </div>
  <center>
  <script>
  getScrollHeight() 
  </script>
  <%= erb :Footer %>
</body>