<center>
<div>
	<div class="MenuBar">
		<a class="MenuName" href="/" >
			<div id="Renzuru" class="TitleBox" ><b>Renzuru</b></div>
		</a>
	</div>
	<div class="MenuBar1">
		<a id="Home1" class="MenuBox" href="/Home">
			<div id="Home" class="Box">Home</div>
		</a>
		<a id="Charcoal1" class="MenuBox" href="/Charcoal">
			<div id="Charcoal" class="Box">Charcoal</div>
		</a>
		<a id="Pencil1" class="MenuBox" href="/Pencil">
			<div id="Pencil" class="Box">Pencil</div>
		</a>
		<a id"Pastels1" class="MenuBox" href="/Pastels">
			<div id="Pastels" class="Box">Pastels</div>
		</a>
		<a id="Pen1" class="MenuBox" href="/Pen">
			<div id="Pen" class="Box">Pen</div>
		</a>
		<a id="Other1" class="MenuBox" href="/Other">
			<div id="Other" class="Box">Other</div>
		</a>
		<a id="About1" class="MenuBox" href="/About">
			<div id="About" class="Box">About</div>
		</a>
	</div>
</div>
<hr width="70%" align="center">
</center>