@font-face
{
	font-family:"CoverFont";
	src: url(fonts/Coffee.ttf);
}
h1
{
	font-family:"CoverFont";
	font-size: 5.0vw;
	color:#999999;
	text-align:center;
	vertical-align: text-bottom;
}
a
{
	font-family:"CoverFont";
	/*font-size:18px;*/
    font-size: 2.0vw;
	color:#ffffff;
	text-align:center;
	vertical-align: bottom;
	text-decoration: none
}
img
{

    max-width: 70%;
	display:inline;
	margin:2px;
	border:3px solid #ffffff;
	opacity: 0.9;
}
div.ImageBox
{
	display: inline-block;
	width: 30%;
	overflow-y: hidden;
	overflow-x: hidden;
	opacity: 1;
	background-color: #141414;
	opacity: 0.6;
}
div.ImageBoxInner
{
	display: inline-block;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 20px;
}
div.ImageGap
{
	height: 30px;
}
div.ImageBoxMain
{
	display: inline-block;
	width: 40%;
}
div.ImageBoxMainDesc
{
	display: inline-block;
	width: 70%;
}
div.ImageMainDesc
{
	display: inline-block;;
	width: 50%;
}
div.VerticalLine
{
	width: 2px;
	height: 20px;
}
div.Image
{
	width: 100%;
}
div.ImageBoxMain
{
	vertical-align: top;

}
div.Image:hover
{
	background-color:#999999;
}